version: '3'

services:
  demo-api:
    build:
      context: "./backend"
      dockerfile: "Dockerfile"
    ports:
      - 8002:8002
    volumes:
      - ./backend/api:/src
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_01}
  
  postgres:
    image: postgres:10
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_01}
    ports:
      - 5432:5432
    volumes:
      - /var/lib/postgresql/data

# volumes:
#   db_vol:


